#nav{
    position:fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(188, 195, 202, 0.2) 0px 8px 24px;
    top: 3px;
    background-color: white;
   
}
#logo>a>img{
  
    width: 40%;
    margin-top: 2px;
   
    margin-left: 70px;
}
#option{
    /* border: 1px solid red; */
    width: 80%;
   height: fit-content;
    margin-right: 150px;
   font-size: 30px;
  
   
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
}
#login{
    height: 50px;
    width: 90px;
    color: black;
    background-color: white;
   border-color: grey;
   margin-left: 15px;
   margin-right: 15px;
  
   
   
}
#login:hover{
    background-color: rgb(228, 221, 221);
}
#signup{
    height: 50px;
    width: 90px;
    color: white;
    background-color:  #4ea819;
}
#signup:hover{
    background-color: #3f8c12;
}

#navhr{
    background-color: #4ea819;
    width: 100%;
    height: 4px;
    position: fixed;
    top: 0;
}
#navA{
    color: #656769;
    padding-top: 10px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 22px;
    
}
#navA:hover{
   text-decoration: underline;
   text-decoration-color: #4ea819;
   color: #4ea819;
   
}

#medscr{
    display: none;
}
#top{
    margin-top: 50px;
    text-align: center;
   
    height: 300px;
    border-radius: 50%;
    background-color: #30383e;
    padding: 50px;
    color: white;
    

}
#top_p{
   
    margin-top: 100px;
    height: 160px;
    background-color: #30383e;
    width: 110%;
    margin-left: -5%;
}
#top h1{
    font-size: 40px;
}
#top p{
    font-size:large;
}
#top button {
    width: 200px;
    height: 50px;
    font-size: large;
    background-color: #4ea819;
}
#top input{
    width: 200px;
    height: 45px;
    font-size: large;
}

#group{
   width: 100%;
   height: auto; 

  
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 20px;
  padding-left: 5%;
  margin-top: 350px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#group>div>h1{
    font-size: 40px;
}

#group>div>p{
    font-size: 20px;
    color: #656769;
   
}
#milestone{
    text-align: center;
    margin-top: 50px;
}
#mile1{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

#mile1>div:nth-child(1){
    margin-right: 0px;
    text-align: center;
    margin-left: 50px;

 }
 #mile1>div:nth-child(2){
    margin-right: 100px;
    text-align: center;

 }
 #mile1>div>h5{
    color: #4ea819;
    font-size: larger;

 }





 #mile2{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

#mile2>div:nth-child(1){
    margin-right: 0px;
    text-align: center;
    margin-left: 50px;

 }
 #mile2>div:nth-child(2){
    margin-right: 100px;
    text-align: center;

 }
 #mile2>div>h5{
    color: #4ea819;
    font-size: larger;

 }
 hr{
    border-top: 3px dashed  #4ea819;
 }
 #ytlink{
    margin-left: 35%;
    margin-top: 50px;
 }



 #signupbox{
    width: 100%;
    height: auto;
    margin-top: 60px;
    background-color: #4ea819;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
   
}
#signupbox div{
    /* border: 1px solid red; */
    padding-top: 80px;
}
#signupbox h1{
    font-size: 45px;
    color: white;
}
#signupbox input{
    width: 300px;
    height: 40px;
    font: larger;
}
#signupbox button{
    width: 300px;
    height: 40px;
    font: larger;
    border:1px solid white;
    color: white;
    background-color: #4ea819;
    border-radius: 3px;
}
#signupbox button:hover{
    background-color: white;
    color: black;
}
#signupbox p{
    font-size: 20px;
     color: white;
}

#footer{
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
#footer>div{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}
#footer>div a{
    color: #717171;
    text-decoration: none;
   
    
}
#footer>div a:hover{
    text-decoration:underline;
    text-decoration-color: #4ea819;
    font-weight: bold;
    
}
#bottom>img{
    width: 100%;
}

@media screen and (min-width:700px) and (max-width:950px){
    #logo>a>img{
        margin-left: 45%;
        width: 35%;
  }
  #option{
   display:none;
  }
  #medscr{
   display: block;
   width: 200px;
   margin-right: 100px;
   margin-top: 20px;
  }
  #medscr>select{
   width: 200px;
   height: 40px;
   font-size: larger;
  }

  #group{
    grid-template-columns:repeat(1,1fr);
  }
  #group>div>img{
    align-items: center;
    margin-left: 10%;
  }
  #mile1{
   flex-direction: column-reverse;
   text-align: center;
   align-items: center;

  }
  #mile1 img{
    margin-left: 10%;
  }
  #mile2{
    flex-direction: column;
   text-align: center;
    align-items: center;
   
  }
  #mile2 h1 , #mile2 p , #mile2 h5{
    margin-left: 10%;
  }
  #ytlink{
    margin-left: 20%;
    margin-top: 50px;
  }
}
@media screen and (min-width:100px) and (max-width:699px){
    #logo>a>img{
        display:none;
  }
  #option{
   display:none;
  }
  #medscr{
   display: block;
   width: 200px;
   margin-right: 150px;
   margin-top: 20px;
  }
  #medscr>select{
   width: 200px;
   height: 40px;
   font-size: larger;
  }

  #group{
    grid-template-columns:repeat(1,1fr);
  }
  #group>div>img{
    align-items: center;
    
  }
  #mile1{
   flex-direction: column-reverse;
   text-align: center;
   align-items: center;

  }
  #mile1 img{
    margin-left: 15%;
  }
  #mile2{
    flex-direction: column;
   text-align: center;
    align-items: center;
   
  }
  #mile2 h1 , #mile2 p , #mile2 h5{
    margin-left: 20%;
  }
  #ytlink{
    margin-left: 15%;
    margin-top: 50px;
  }
 
}