
#nav{
    position:fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(188, 195, 202, 0.2) 0px 8px 24px;
    top: 3px;
    background-color: white;
   

}
#logo>a>img{
  
    width: 45%;
    margin-top: 2px;
   
    margin-left: 70px;
}
#option{
    /* border: 1px solid red; */
    width: 80%;
   height: fit-content;
    margin-right: 150px;
   font-size: 30px;
  
   
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
}
#login{
    height: 50px;
    width: 90px;
    color: black;
    background-color: white;
   border-color: grey;
   margin-left: 15px;
   margin-right: 15px;
  
   
   
}
#login:hover{
    background-color: rgb(228, 221, 221);
}
#signup{
    height: 50px;
    width: 90px;
    color: white;
    background-color:  #4ea819;
}
#signup:hover{
    background-color: #3f8c12;
}

#navhr{
    background-color: #4ea819;
    width: 100%;
    height: 4px;
    position: fixed;
    top: 0;
}
#navA{
    color: #656769;
    padding-top: 10px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 22px;
    
}
#navA:hover{
   text-decoration: underline;
   text-decoration-color: #4ea819;
   color: #4ea819;
   
}
#medscr{
    display: none;
}
#signupbox{
    width: 100%;
    height: 400px;
    margin-top: 60px;
    
    text-align: center;
  
    
   
}
#signupbox div{
    /* border: 1px solid red; */
    padding-top: 80px;
}
#signupbox h1{
    font-size: 45px;
    color: black;
}
#signupbox input{
    width: 200px;
    height: 40px;
    font: larger;
}
#signupbox button{
    width: 200px;
    height: 40px;
    font: larger;
    border:1px solid white;
    color: white;
    background-color: #4ea819;
    border-radius: 3px;
}
#signupbox button:hover{
    background-color: white;
    color: black;
}
#signupbox p{
    font-size: 20px;
     color: black;
}
#category>a{
    margin: 20px;
    font-size: 20px;
    color: #4ea819;
    text-decoration: none;
}
#category>a:hover{
     text-decoration: underline;
     color: black;
  
}

#bg1{
    display: flex;
     justify-content: space-around;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 50px;
}
#bg1>div >img{
   width: 90%;
  
}
 a{
    text-decoration: none;
    color: black;
}
 a:hover{
    text-decoration: underline;
    color: #4ea819;
}
#bg2 img{
    width: 50%;
}
#bg2{

    display: flex;
   justify-content: space-around;
    margin-top: 50px;
    margin-left: 10%;
}
p{
    font-size: 20px;
    color: #656769;
}
#signupbox{
    width: 100%;
    height: 400px;
    margin-top: 60px;
    background-color:#e8eaec;
    text-align: center;
  
    
   
}
#signupbox div{
    /* border: 1px solid red; */
    padding-top: 80px;
}
#signupbox h1{
    font-size: 45px;
    color: black;
}
#signupbox input{
    width: 300px;
    height: 40px;
    font: larger;
}
#signupbox button{
    width: 300px;
    height: 40px;
    font: larger;
    border:1px solid white;
    color: white;
    background-color: #4ea819;
    border-radius: 3px;
}
#signupbox button:hover{
    background-color: white;
    color: black;
}
#signupbox p{
    font-size: 20px;
     color: black;
}
#footer{
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
#footer>div{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}
#footer>div a{
    color: #717171;
    text-decoration: none;
   
    
}
#footer>div a:hover{
    text-decoration:underline;
    text-decoration-color: #4ea819;
    font-weight: bold;
    
}
#bottom>img{
    width: 100%;
}


  #fix_pos{
    /* border: solid red; */
    width: 3%;
    position: fixed;
    /* margin-top: 10%; */
    /* background: red; */
    margin-top: -15%;
  }
  
  #fix_pos>a > img{
    width: 100%;
    height: auto;
    /* border: solid pink; */
    margin-top: 5px;
    padding: 1px;
    border-radius: 5px;
    
  }
@media screen and (min-width:700px) and (max-width:950px){
    #fix_pos{
        /* border: solid red; */
        width: 4%;
        position: fixed;
        /* margin-top: 10%; */
        /* background: red; */
        margin-top: -25%;
      }
    #logo>a>img{
        margin-left: 45%;
        width: 35%;
  }
  #option{
   display:none;
  }
  #medscr{
   display: block;
   width: 200px;
   margin-right: 100px;
   margin-top: 20px;
  }
  #medscr>select{
   width: 200px;
   height: 40px;
   font-size: larger;
  }
    #bg1{
        display: flex;
        flex-direction: column;
    }
    #bg2{
        display: grid;
        grid-template-columns: repeat(2,40%);
    }
}
@media screen and (min-width:100px) and (max-width:699px){
    #logo>a>img{
      display: none;
  }
  #option{
   display:none;
  }
  #medscr{
   display: block;
   width: 200px;
   margin-right: 100px;
   margin-top: 20px;
  }
  #medscr>select{
   width: 200px;
   height: 40px;
   font-size: larger;
  }
    #bg1{
        display: flex;
        flex-direction: column;
    }
    #bg1 img{
        width: 40%;
    }
    #bg2{
        display: grid;
        grid-template-columns: repeat(1,40%);
        margin-left: -10%;
        margin-right: 10%;
    }
    #bg2 img{
        width: 180%;
        
    }
}